<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>LoginApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<context-param>
		<param-name>connString</param-name>
		<param-value>jdbc:mysql://localhost/test</param-value>
	</context-param>

	<context-param>
		<param-name>driver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>dbUserName</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>dbPwd</param-name>
		<param-value>root</param-value>
	</context-param>


	<filter>
		<filter-name>LoginFilter</filter-name> <!-- mandatory -->
		<filter-class>com.accolite.app.filters.LoginFilter</filter-class> <!-- mandatory -->
	</filter>

	<filter-mapping>
		<filter-name>LoginFilter</filter-name> <!-- mandatory -->
		<servlet-name>com.accolite.app.controller.HomeServlet</servlet-name>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>LoginFilter</filter-name> <!-- mandatory -->
		<url-pattern>/success.jsp</url-pattern>
	</filter-mapping>

</web-app>